  <%= link_to 'Back', trips_path %> | 
  <%= link_to 'Edit Trip', edit_trip_path(@trip.id) %> | 
  <%= link_to 'Delete Trip', trip_path(@trip.id), method: :delete, data: { confirm: "Are you sure?"} %>

<h1><%= @trip.name %> - <%= @trip.length %> Miles</h1>

<% if @trip.locations.any? %>
  <h3><%= link_to "All locations", trip_locations_path(@trip) %> for this trip:</h3>
<% else %>
  <h3><%= link_to "Add a location for this trip", new_trip_location_path(@trip), :class=>'ui basic violet button' %></h3>
<% end %>
