<h1>Address for <%= @location.name %>:</h1>

<%= @address.street_address %>
<%= @address.city %>,
<%= @address.state %> 
<%= @address.zip %>
<br><br>
<%= link_to "Back", trip_location_path(@location.trip_id, @location) %>
<%= link_to "Edit", edit_location_address_path(@location, @address) %>