<!DOCTYPE html>
<html>
<div class="ui container">
  <head>
    <title>Trip Planner</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
  <br>
    <%= link_to 'All Trips', trips_path, {:class=>"ui basic violet tiny button"} %>
    <%= link_to 'New Trip', new_trip_path, {:class=>"ui basic violet tiny button"} %>
  </nav>
  <hr />

  <body>
    <%= yield %>
  </body>
</div>
</html>
